//Set//
@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap');

body {
   font-family: "Roboto Slab", serif;
   background-color: rgb(223, 235, 241);
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1050px;
   margin: 0px auto;
   padding: 0 15px;
}

@media (max-width: 1050px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

@media (max-width: 991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }
}

@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: none;
   }
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   object-fit: cover;
   object-position: center;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

$bgc: rgb(53, 58, 59);
$bgc-main: rgb(223, 235, 241);
//Set\//

//Header//

.header {

   &_set {
      background-color: $bgc;
   }

   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;

      @media (max-width: 546.98px) {
         padding: 8px 0;
      }
   }

   // .header__logo

   &__logo {
      flex: 0 1 6.5%;
      padding: 5px 0 5.80% 0;
   }

   // .header__title

   &__title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 900;
      color: azure;
      letter-spacing: 1.2px;
      text-shadow: 1px 2px 3px #333;
      transition: 0.2s;

      &:hover {
         color: rgb(226, 226, 245);
         font-size: 21px;
      }

      @media (max-width: 670.98px) {
         font-weight: 700;
      }
   }
}

//Header\//


.products {

   &_set {
      margin: 30px 0;

   }

   // .products__title

   &__title {
      font-weight: 700;
      color: rgb(77, 83, 85);
      font-size: 20px;
      margin: 0 0 30px 0;
      text-align: center;

      @media (max-width: 767.98px) {
         font-size: 22px;
      }
   }

   // .products__row

   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: $bgc;
      padding: 13px;
      row-gap: 30px;
      border-radius: 7px;
   }
}

.card {
   display: flex;
   flex-direction: column;
   row-gap: 13px;
   border-radius: 8px;
   flex: 0 1 32.333%;
   align-items: center;
   background-color: $bgc-main;
   padding: 1% 1%;
   transition: 0.2s;

   &:hover {
      transform: scale(1.02);
      outline: 1px solid #333;
   }

   @media (max-width: 767.98px) {
      flex: 0 1 49.333%;
   }

   @media (max-width: 492.98px) {
      flex: 0 1 99.333%;
   }

   &__title {
      font-size: 18px;
      font-weight: 700;
      color: rgb(52, 55, 56);

   }

   // .card__picture

   &__picture {
      min-width: 69%;
      padding: 0 0 72.30% 0;

   }

   // .card__image

   &__image {
      border-radius: 7px;
   }

   // .card__description

   &__description {
      text-align: center;
      flex: 1 1 auto;
      font-style: oblique;
   }

   // .card__price

   &__price {
      color: rgb(138, 17, 17);
      font-weight: 500;
   }
}

.footer {

   background-color: $bgc;

   &__container {
      max-width: 1100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 8px 10px 0;

      @media (max-width: 593.98px) {
         justify-content: space-evenly;
      }

      @media (max-width: 492.98px) {
         justify-content: space-between;
      }

      p {
         font-size: 17px;
         font-style: oblique;
         color: rgb(207, 210, 216);
      }

      a {
         font-size: 17px;
         font-style: oblique;
         color: rgb(207, 210, 216);
         //align-self: center;

         &:hover {
            color: rgb(255, 231, 231);
         }
      }
   }


   &__textarea-first {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      flex: 0 1 30.333%;

      @media (max-width: 593.98px) {
         display: none;
      }

   }

   &__text {
      text-align: center;
   }

   &__textarea-second {
      display: flex;
      flex-direction: column;
      flex: 0 1 25.333%;
      row-gap: 5px;
   }


   &__links {
      display: flex;
      flex-direction: column;
      flex: 0 1 29.333%;
      row-gap: 5px;

      @media (max-width: 494px) {
         row-gap: 15px;
      }
   }

   &__insta {
      padding: 0 0 1% 30px;

      &::before {
         content: "";
         background: url("../img/icons/Instagram.svg.png") 0 0/contain no-repeat;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
   }

   &__wp {
      padding: 0 0 1% 20px;

      &::before {
         content: "";
         background: url("../img/icons/whatsapp-3.svg") 0 0/contain no-repeat;
         position: absolute;
         width: 100%;
         height: 100%;
         top: -10%;
         left: 0;
      }
   }

   &__navigation {
      padding: 0 0 1% 30px;

      &::before {
         content: "";
         background: url("../img/icons/2gis.png") 0 0/contain no-repeat;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;

         @media (max-width: 1063px) {
            width: 50%;
            height: 50%;
            top: 20%;
         }
      }
   }
}